<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Amateur Radio Station VA2NW</title>

        <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" href="/css/tcort.css" />
    </head>
    <body>

        <header>
            <h1 class="title">Amateur Radio Station VA2NW</h1>
            <p>
                Québec, Canada<br/>
                PB #268 / NAQCC #2846 / SKCC #4889
            </p>
        </header>

        <section>
            <h3>Contact</h3>
            <p>
                {{log.MY_NAME}} ({{log.OPERATOR}}) operating station {{log.STATION_CALLSIGN}} running a {{log.MY_RIG}} transceiver at
                {{log.TX_PWR}} watts into a {{log.MY_ANTENNA}} antenna from
                {{#if log.MY_POTA_REF}}
                    POTA Ref {{log.MY_POTA_REF}} in
                {{/if}}
                {{log.MY_STATE}}, {{log.MY_COUNTRY}} (Grid: {{log.MY_GRIDSQUARE}}, ITU Zone: {{log.MY_ITU_ZONE}}, CQ Zone: {{log.MY_CQ_ZONE}})
                made a {{log.MODE}} contact with <a href="/logs?callsign={{log.CALL}}#logbook">{{log.CALL}}</a>
                {{#if log.SKCC}}
                    (SKCC #{{log.SKCC}})
                {{/if}}
                on {{log.FREQ}} MHz in the
                {{log.BAND}} band on {{log.DATE_HUMAN}} at {{log.TIME_HUMAN}} UTC with a signal report of {{log.RST_SENT}}/{{log.RST_RCVD}}
                {{#if log.POTA_REF}}
                    in POTA Ref {{log.POTA_REF}}
                {{/if}}
            </p>
        </section>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

    </body>
</html>
