<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/tcort.css" />
        <link rel="stylesheet" href="/css/robotomono-regular.css" />
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/logs/new">Enter a QSO</a></li>
                    <li><a href="/logs/import">Import QSOs</a></li>
                    <li><a href="/logs/export">Export QSOs</a></li>
                    <li><a href="/logs">View all QSOs</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Search</h2>
                <form name="search" method="GET" action="/logs">
                    Search by callsign:
                    <input id="callsign_entry" type="text" name="callsign" size="10" class="callsign" placeholder="callsign" list="callsign_entry_suggestions" autocomplete="off" autofocus required />
                    <datalist id="callsign_entry_suggestions"></datalist>
                    <input type="hidden" name="since" value="1900-01-01T00:00:00Z" />
                    <input type="submit" value="Search" />
                </form>
            </section>
            {{#if callsign}}
            <section>
                <h2><a name="callsign-lookup"></a>Callsign Lookup</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Link</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>QRZ</td>
                            <td><a href="https://www.qrz.com/db/{{callsign}}" target="_blank">https://www.qrz.com/db/{{callsign}}</a></td>
                        </tr>
                        <tr>
                            <td>HamCall</td>
                            <td><a href="https://hamcall.net/call?entry={{callsign}}" target="_blank">https://hamcall.net/call?entry={{callsign}}</a></td>
                        </tr>
                        <tr>
                            <td>Parks on the Air</td>
                            <td><a href="https://pota.app/#/profile/{{callsign}}" target="_blank">https://pota.app/#/profile/{{callsign}}</a></td>
                        </tr>
                        <tr>
                            <td>Summits on the Air</td>
                            <td><a href="https://www.sotadata.org.uk/en/stats/{{callsign}}" target="_blank">https://www.sotadata.org.uk/en/stats/{{callsign}}</a></td>
                        </tr>
                        <tr>
                            <td>YouTube</td>
                            <td><a href="https://www.youtube.com/results?search_query={{callsign}}" target="_blank">https://www.youtube.com/results?search_query={{callsign}}</a></td>
                        </tr>
                    </tbody>
                </table>
            {{/if}}
            <section>
                <h2><a name="logbook"></a>Logbook</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Freq</th>
                            <th>Mode</th>
                            <th>Pwr</th>
                            <th>Callsign</th>
                            <th>RST</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each logs}}
                        <tr class="clickable-row" data-href="/logs/{{APP_TCADIF_QSO_ID}}">
                            <td class="nowrap">{{DATE_HUMAN}}</td>
                            <td class="nowrap">{{TIME_HUMAN}}</td>
                            <td class="nowrap">{{FREQ}}</td>
                            <td class="nowrap center">{{MODE}}</td>
                            <td class="nowrap center">{{TX_PWR}}</td>
                            <td class="nowrap"><a href="/logs?callsign={{CALL}}"><span class="callsign">{{CALL}}</span></a></td>
                            <td class="nowrap">{{RST_SENT}} / {{RST_RCVD}}</td>
                            <td>{{NOTES}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>
        </main>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/tcort.js"></script>
        <script src="/js/logs.js"></script>

    </body>
</html>
