<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css?ts={{ts}}">
        <link rel="stylesheet" href="/robotomono-regular.css?ts={{ts}}">
        <link rel="stylesheet" href="/va2nw-logger.css?ts={{ts}}">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                Contacts: <a href="/qsos/new">Create</a>, <a href="/qsos">View</a><br>
                Operators: <a href="/ops/new">Create</a>, <a href="/ops">View</a>
            </nav>
        </header>

        <section>
            <h2>Edit an Operator</h2>
            <form method="post" action="/ops/{{op.op_id}}?_method=PUT">
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" size="48" value="{{op.name}}" placeholder="Operator Name" required />
                    <label for="callsign">Station Callsign</label>
                    <input class="callsign callsign_entry" id="callsign" type="text" name="callsign" size="10" autofocus value="{{op.callsign}}" required autocomplete="off" placeholder="Operator Callsign" />
                    <input type="submit"/>
                </div>
            </form>
        </section>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

        <script src="/jquery.min.js?ts={{ts}}"></script>
        <script src="/tcort.js?ts={{ts}}"></script>

    </body>
</html>
