<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css?ts={{ts}}">
        <link rel="stylesheet" href="/robotomono-regular.css?ts={{ts}}">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/qsos/new">Create</a></li>
                    <li><a href="/qsos/import">Import</a></li>
                    <li><a href="/qsos/export">Export</a></li>
                    <li><a href="/qsos">List</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Enter a QSO</h2>
                <form method="post" action="/qsos" class="autosave">
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="timeon">UTC Time On</label>
                        </div>
                        <div class="form-col-input" id="timeon">
                            <input type="date" id="date_on" name="date_on" required /> @
                            <input type="time" id="time_on" name="time_on" step="1" required />
                            <button type="button" class="button-primary" id="timeon_now">Now</button>
                            <input type="checkbox" id="now" name="now" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="timeoff">UTC Time Off</label>
                        </div>
                        <div class="form-col-input" id="timeoff">
                            <input type="date" id="date_off" name="date_off" required /> @
                            <input type="time" id="time_off" name="time_off" step="1" required />
                            <button type="button" class="button-primary" id="timeoff_now">Now</button>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="frequency">Frequency</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="frequency" name="frequency" size="8" min="0" max="30000" step=".000001" placeholder="MHz" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="mode">Mode</label>
                        </div>
                        <div class="form-col-input">
                            <select name="mode" required>
                                {{#each enums.Mode}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="power">Power</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="power" name="power" size="8" min="0" max="10000" step=".001" placeholder="Watts" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="callsign">Station Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="callsign" type="text" name="callsign" size="10" autofocus required autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="rst">RST Sent / Rcvd</label>
                        </div>
                        <div id="rst" class="form-col-input">
                            <input type="text" id="rst_sent" name="rst_sent" pattern="-?[0-9]{1,3}" size="3" maxlength="3" placeholder="Signal Report"  required /> /
                            <input type="text" id="rst_rcvd" name="rst_rcvd" pattern="-?[0-9]{1,3}" size="3" maxlength="3" placeholder="Signal Report" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="remarks">Remarks</label><br>
                        </div>
                        <div class="form-col-input">
                            <textarea name="remarks" id="remarks"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            &nbsp;
                        </div>
                        <div class="form-col-input">
                            <button type="submit" class="button-primary">Create QSO</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>

        <footer>
            <p>
                <small>
                    Copyright &copy; 2023 Thomas Cort
                </small>
            </p>
        </footer>

        <script src="/jquery.min.js?ts={{ts}}"></script>
        <script src="/tcort.js?ts={{ts}}"></script>
        <script src="/va2nw-logger.js?ts={{ts}}"></script>

    </body>
</html>
