<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css?ts={{ts}}">
        <link rel="stylesheet" href="/robotomono-regular.css?ts={{ts}}">
        <link rel="stylesheet" href="/va2nw-logger.css?ts={{ts}}">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/qsos/new">Create</a></li>
                    <li><a href="/qsos/import">Import</a></li>
                    <li><a href="/qsos/export">Export</a></li>
                    <li><a href="/qsos">List</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>View all QSOSs ({{count}} QSOs)</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Date/Time On</th>
                            <th>Date/Time Off</th>
                            <th>Freq</th>
                            <th>Mode</th>
                            <th>Pwr</th>
                            <th>Callsign</th>
                            <th>RST</th>
                            <th>QSL</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each qsos}}
                        <tr class="clickable-row" data-href="/qsos/{{qso_id}}">
                            <td class="nowrap">{{timeon}}</td>
                            <td class="nowrap">{{timeoff}}</td>
                            <td class="nowrap">{{frequency}}</td>
                            <td class="nowrap center">{{mode}}</td>
                            <td class="nowrap center">{{power}}</td>
                            <td class="nowrap"><span class="callsign">{{callsign}}</span></td>
                            <td class="nowrap">{{rst_sent}} / {{rst_rcvd}}</td>
                            <td class="nowrap">{{qsl_sent}} / {{qsl_rcvd}}</td>
                            <td>{{remarks}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div>
                    <p class="center">
                        Page {{currentPage}} of {{npages}}
                    </p>
                </div>

                <div>
                    <p class="center">
                        {{#each pageNav}}
                            <a href="/qsos?page={{page}}">{{label}}</a>
                        {{/each}}
                    </p>
                </div>
            </section>
        </main>

        <footer>
            <p>
                <small>
                    Copyright &copy; 2023 Thomas Cort
                </small>
            </p>
        </footer>

        <script src="/jquery.min.js?ts={{ts}}"></script>
        <script src="/tcort.js?ts={{ts}}"></script>

    </body>
</html>
