<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css?ts={{ts}}">
        <link rel="stylesheet" href="/robotomono-regular.css?ts={{ts}}">
        <link rel="stylesheet" href="/va2nw-logger.css?ts={{ts}}">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/qsos/new">Create</a></li>
                    <li><a href="/qsos/import">Import</a></li>
                    <li><a href="/qsos/export">Export</a></li>
                    <li><a href="/qsos">List</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Edit a QSO</h2>
                <form method="post" action="/qsos/{{qso.qso_id}}?_method=PUT">

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="timeon">UTC Time On</label>
                        </div>
                        <div class="form-col-input" id="timeon">
                            <input type="date" id="date_on" name="date_on" value="{{qso.date_on}}" required /> @
                            <input type="time" id="time_on" name="time_on" step="1" value="{{qso.time_on}}" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="timeoff">UTC Time Off</label>
                        </div>
                        <div class="form-col-input" id="timeoff">
                            <input type="date" id="date_off" name="date_off" value="{{qso.date_off}}" required /> @
                            <input type="time" id="time_off" name="time_off" step="1" value="{{qso.time_off}}" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="frequency">Frequency</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="frequency" name="frequency" size="8" min="0" max="30000" step=".000001" placeholder="MHz" value="{{qso.frequency}}" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="mode">Mode</label>
                        </div>
                        <div class="form-col-input">
                            <select name="mode" data-autoselect="{{qso.mode}}" required>
                                {{#each enums.Mode}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="power">Power</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="power" name="power" size="8" min="0" max="10000" step=".001" placeholder="Watts" value="{{qso.power}}" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="callsign">Station Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="callsign" type="text" name="callsign" size="10" autofocus required autocomplete="off" value="{{qso.callsign}}" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">

                            <label for="rst">RST Sent/Rcvd</label>
                        </div>
                        <div class="form-col-input" id="rst">
                            <input type="text" id="rst_sent" name="rst_sent" pattern="[1-5][1-9][1-9]?" size="3" maxlength="3" placeholder="Signal Report" value="{{qso.rst_sent}}" required />
                            <input type="text" id="rst_rcvd" name="rst_rcvd" pattern="[1-5][1-9][1-9]?" size="3" maxlength="3" placeholder="Signal Report" value="{{qso.rst_rcvd}}" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            QSL Sent?
                        </div>
                        <div class="form-col-input">
                            <input type="radio" name="qsl_sent" id="qsl_sent_y" value="Y" {{#if qso.was_qsl_sent}}checked{{else}}{{/if}} required /> <label for="qsl_sent_y">Yes</label> /
                            <input type="radio" name="qsl_sent" id="qsl_sent_n" value="N" {{#if qso.was_qsl_sent}}{{else}}checked{{/if}} required /> <label for="qsl_sent_n">No</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            QSL Received?
                        </div>
                        <div class="form-col-input">
                            <input type="radio" name="qsl_rcvd" id="qsl_rcvd_y" value="Y" {{#if qso.was_qsl_rcvd}}checked{{else}}{{/if}} required /> <label for="qsl_rcvd_y">Yes</label> /
                            <input type="radio" name="qsl_rcvd" id="qsl_rcvd_n" value="N" {{#if qso.was_qsl_rcvd}}{{else}}checked{{/if}} required /> <label for="qsl_rcvd_n">No</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="remarks">Remarks</label><br>
                        </div>
                        <div class="form-col-input">
                            <textarea name="remarks" id="remarks">{{qso.remarks}}</textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            &nbsp;
                        </div>
                        <div class="form-col-input">
                            <button type="submit" class="button-primary">Save QSO</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

        <script src="/jquery.min.js?ts={{ts}}"></script>
        <script src="/tcort.js?ts={{ts}}"></script>

    </body>
</html>
