<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css?ts={{ts}}">
        <link rel="stylesheet" href="/robotomono-regular.css?ts={{ts}}">
        <link rel="stylesheet" href="/va2nw-logger.css?ts={{ts}}">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/qsos/new">Enter a QSO</a></li>
                    <li><a href="/qsos/import">Import QSOs</a></li>
                    <li><a href="/qsos/export">Export QSOs</a></li>
                    <li><a href="/qsos">View all QSOs</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Enter a QSO</h2>
                <form method="post" action="/qsos">
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="timeon">UTC Time On</label>
                        </div>
                        <div class="form-col-input" id="timeon">
                            <input type="text" id="year_on" name="year_on" pattern="(19|20)[0-9]{2}" maxlength="4" size="4" placeholder="Year" required /> -
                            <input type="text" id="month_on" name="month_on" pattern="((0[1-9])|(1[012]))" maxlength="2" size="2" placeholder="Month" required /> -
                            <input type="text" id="day_on" name="day_on" pattern="((0[1-9])|([12][0-9])|30|31)" maxlength="2" size="2" placeholder="Day" required />
                            <input type="text" id="hour_on" name="hour_on" pattern="(([01][0-9])|(2[0123]))" maxlength="2" size="2" placeholder="Hour" required /> :
                            <input type="text" id="minute_on" name="minute_on" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Minute" required /> :
                            <input type="text" id="second_on" name="second_on" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Second" required />
                            <button type="button" id="timeon_now">Now</button>
                            <input type="checkbox" id="now" name="now" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="timeoff">UTC Time Off</label>
                        </div>
                        <div class="form-col-input" id="timeoff">
                            <input type="text" id="year_off" name="year_off" pattern="(19|20)[0-9]{2}" maxlength="4" size="4" placeholder="Year" required /> -
                            <input type="text" id="month_off" name="month_off" pattern="((0[1-9])|(1[012]))" maxlength="2" size="2" placeholder="Month" required /> -
                            <input type="text" id="day_off" name="day_off" pattern="((0[1-9])|([12][0-9])|30|31)" maxlength="2" size="2" placeholder="Day" required />
                            <input type="text" id="hour_off" name="hour_off" pattern="(([01][0-9])|(2[0123]))" maxlength="2" size="2" placeholder="Hour" required /> :
                            <input type="text" id="minute_off" name="minute_off" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Minute" required /> :
                            <input type="text" id="second_off" name="second_off" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Second" required />
                            <button type="button" id="timeoff_now">Now</button>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="frequency">Frequency</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="frequency" name="frequency" size="8" min="0" max="30000" step=".000001" placeholder="MHz" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="mode">Mode</label>
                        </div>
                        <div class="form-col-input">
                            <select name="mode" required>
                                {{#each enums.Mode}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="power">Power</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="power" name="power" size="8" min="0" max="10000" step=".001" placeholder="Watts" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="callsign">Station Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="callsign" type="text" name="callsign" size="10" autofocus required autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="rst">RST Sent/Rcvd</label>
                        </div>
                        <div id="rst" class="form-col-input">
                            <input type="text" id="rst_sent" name="rst_sent" pattern="[1-5][1-9][1-9]" size="3" maxlength="3" placeholder="Signal Report"  required />
                            <input type="text" id="rst_rcvd" name="rst_rcvd" pattern="[1-5][1-9][1-9]" size="3" maxlength="3" placeholder="Signal Report" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="remarks">Remarks</label><br>
                        </div>
                        <div class="form-col-input">
                            <textarea name="remarks" id="remarks"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            &nbsp;
                        </div>
                        <div class="form-col-input">
                            <input type="submit" value="Create QSO"/>
                        </div>
                    </div>
                </form>
            </section>
        </main>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

        <script src="/jquery.min.js?ts={{ts}}"></script>
        <script src="/tcort.js?ts={{ts}}"></script>
        <script src="/va2nw-logger.js?ts={{ts}}"></script>

    </body>
</html>
