<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css">
        <link rel="stylesheet" href="/robotomono-regular.css">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/qsos/new">Create</a></li>
                    <li><a href="/qsos/import">Import</a></li>
                    <li><a href="/qsos/export">Export</a></li>
                    <li><a href="/qsos">List</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>QSO</h2>
                <table>
                    <tbody>
                        <tr>
                            <th class="nowrap">Station Callsign</th>
                            <td><span class="callsign">{{qso.station_callsign}}</span></td>
                        </tr>
                        <tr>
                            <th class="nowrap">Date/Time On</th>
                            <td>{{qso.dateon}} {{qso.timeon}} UTC</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Date/Time Off</th>
                            <td>{{qso.dateoff}} {{qso.timeoff}} UTC</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Frequency</th>
                            <td>{{qso.frequency}} MHz</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Mode</th>
                            <td>{{qso.mode}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Power</th>
                            <td>{{qso.power}} Watts</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Callsign</th>
                            <td><a href="/qsos?callsign={{qso.callsign}}&remarks=&station_callsign=%25&since=1900-01-01T00%3A00%3A00Z"><span class="callsign">{{qso.callsign}}</span></a></td>
                        </tr>
                        <tr>
                            <th class="nowrap">RST Sent / Rcvd</th>
                            <td>{{qso.rst_sent}} / {{qso.rst_rcvd}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">State/Province/Country</th>
                            <td>{{qso.spc}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Name</th>
                            <td>{{qso.name}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">SKCC</th>
                            <td>{{qso.skcc}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Remarks</th>
                            <td>{{qso.remarks}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex">
                    <form method="get" action="/qsos/{{qso.qso_id}}">
                        <input type="hidden" name="dl" value="1" />
                        <input type="hidden" name="fmt" value="adi" />
                        <button type="submit" class="button-primary">Export ADIF</button>
                    </form>
                    <span>&nbsp;</span>
                    <form method="get" action="/qsos/{{qso.qso_id}}">
                        <input type="hidden" name="form" value="edit" />
                        <button type="submit" class="button-primary">Edit QSO</button>
                    </form>
                    <span>&nbsp;</span>
                    <form method="post" action="/qsos/{{qso.qso_id}}?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this record?')">
                        <button type="submit" class="button-primary">Delete QSO</button>
                    </form>
                </div>
            </section>
        </main>

        <footer>
            <p>
                <small>
                    Copyright &copy; 2023, 2024 Thomas Cort
                </small>
            </p>
        </footer>

        <script src="/jquery.min.js"></script>
        <script src="/tcort.js"></script>

    </body>
</html>
