<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/tcort.css?ts={{ts}}">
        <link rel="stylesheet" href="/robotomono-regular.css?ts={{ts}}">
        <link rel="stylesheet" href="/va2nw-logger.css?ts={{ts}}">
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                Contacts: <a href="/qsos/new">Create</a>, <a href="/qsos">View</a>
            </nav>
        </header>

        <section>
            <h2>Log a QSO</h2>
            <form method="post" action="/qsos">
                <div>
                    <label for="timeon">UTC Time On</label>
                    <span id="timeon">
                        <input type="text" id="year_on" name="year_on" pattern="(19|20)[0-9]{2}" maxlength="4" size="4" placeholder="Year" required /> -
                        <input type="text" id="month_on" name="month_on" pattern="((0[1-9])|(1[012]))" maxlength="2" size="2" placeholder="Month" required /> -
                        <input type="text" id="day_on" name="day_on" pattern="((0[1-9])|([12][0-9])|30|31)" maxlength="2" size="2" placeholder="Day" required /> @
                        <input type="text" id="hour_on" name="hour_on" pattern="(([01][0-9])|(2[0123]))" maxlength="2" size="2" placeholder="Hour" required /> :
                        <input type="text" id="minute_on" name="minute_on" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Minute" required /> :
                        <input type="text" id="second_on" name="second_on" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Second" required />
                        <button type="button" id="timeon_now">Now</button>
                        <input type="checkbox" id="now" name="now" checked />
                    </span>
                </div>
                <div>
                    <label for="timeon">UTC Time Off</label>
                    <span id="timeoff">
                        <input type="text" id="year_off" name="year_off" pattern="(19|20)[0-9]{2}" maxlength="4" size="4" placeholder="Year" required /> -
                        <input type="text" id="month_off" name="month_off" pattern="((0[1-9])|(1[012]))" maxlength="2" size="2" placeholder="Month" required /> -
                        <input type="text" id="day_off" name="day_off" pattern="((0[1-9])|([12][0-9])|30|31)" maxlength="2" size="2" placeholder="Day" required /> @
                        <input type="text" id="hour_off" name="hour_off" pattern="(([01][0-9])|(2[0123]))" maxlength="2" size="2" placeholder="Hour" required /> :
                        <input type="text" id="minute_off" name="minute_off" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Minute" required /> :
                        <input type="text" id="second_off" name="second_off" pattern="[0-5][0-9]" maxlength="2" size="2" placeholder="Second" required />
                        <button type="button" id="timeoff_now">Now</button>
                    </span>
                </div>
                <div>
                    <label for="frequency">Frequency</label>
                    <input type="number" id="frequency" name="frequency" size="8" min="0" max="30000" step=".000001" placeholder="MHz" required />
                    <label for="mode">Mode</label>
                    <select name="mode" required>
                        {{#each enums.Mode}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <label for="power">Power</label>
                    <input type="number" id="power" name="power" size="8" min="0" max="10000" step=".001" placeholder="Watts" required />
                </div>
                <div>
                    <label for="callsign">Station Callsign</label>
                    <input class="callsign callsign_entry" id="callsign" type="text" name="callsign" size="10" autofocus required autocomplete="off" />
                    <label for="rst_sent">RST Sent</label>
                    <input type="text" id="rst_sent" name="rst_sent" pattern="[1-5][1-9][1-9]" size="3" maxlength="3" placeholder="Signal Report" value="{{qso.rst_sent}}" required />
                    <label for="rst_sent">RST Received</label>
                    <input type="text" id="rst_rcvd" name="rst_rcvd" pattern="[1-5][1-9][1-9]" size="3" maxlength="3" placeholder="Signal Report" value="{{qso.rst_rcvd}}" required />
                </div>
                <div>
                    <label for="remarks">Remarks</label><br>
                    <textarea name="remarks" id="remarks"></textarea>
                </div>
                <div>
                    <input type="submit"/>
                </div>
            </form>
        </section>

        <section>
            <h3>Import</h3>
            <p>Load new QSO data from another logging program.</p>
            <form method="post" encType="multipart/form-data" action="/qsos">
                <label for="adif_file">ADIF File</label> <input type="file" id="adif_file" name="adif_file" accept=".adi,.adif">
                <input type="submit" value="Import"/>
            </form>
        </section>

        <section>
            <h3>Export</h3>
            <p>Dump QSO data for another logging program or as a backup.</p>
            <form method="get" action="/qsos">

                Since:
                        <input type="text" id="year_since" name="year_since" pattern="(19|20)[0-9]{2}" size="4" placeholder="Year" required /> -
                        <input type="text" id="month_since" name="month_since" pattern="((0[1-9])|(1[012]))" size="2" placeholder="Month" required /> -
                        <input type="text" id="day_since" name="day_since" pattern="((0[1-9])|([12][0-9])|30|31)" size="2" placeholder="Day" required /> @
                        <input type="text" id="hour_since" name="hour_since" pattern="(([01][0-9])|(2[0123]))" size="2" placeholder="Hour" required /> :
                        <input type="text" id="minute_since" name="minute_since" pattern="[0-5][0-9]" size="2" placeholder="Minute" required /> :
                        <input type="text" id="second_since" name="second_since" pattern="[0-5][0-9]" size="2" placeholder="Second" required />

                <br/>

                Before: 
                        <input type="text" id="year_before" name="year_before" pattern="(19|20)[0-9]{2}" size="4" placeholder="Year" required /> -
                        <input type="text" id="month_before" name="month_before" pattern="((0[1-9])|(1[012]))" size="2" placeholder="Month" required /> -
                        <input type="text" id="day_before" name="day_before" pattern="((0[1-9])|([12][0-9])|30|31)" size="2" placeholder="Day" required /> @
                        <input type="text" id="hour_before" name="hour_before" pattern="(([01][0-9])|(2[0123]))" size="2" placeholder="Hour" required /> :
                        <input type="text" id="minute_before" name="minute_before" pattern="[0-5][0-9]" size="2" placeholder="Minute" required /> :
                        <input type="text" id="second_before" name="second_before" pattern="[0-5][0-9]" size="2" placeholder="Second" required />

                <input type="hidden" name="page" value="0">
                <input type="hidden" name="pageSize" value="1000000">
                <input type="hidden" name="fmt" value="adi">
                <input type="hidden" name="dl" value="1">

                <br/>
                <input type="submit" value="Export"/>
            </form>
        </section>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

        <script src="/jquery.min.js?ts={{ts}}"></script>
        <script src="/tcort.js?ts={{ts}}"></script>
        <script src="/va2nw-logger.js?ts={{ts}}"></script>

    </body>
</html>
