<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>View | VA2NW Logger</title>

        <link rel="icon" href="/favicon.ico">

        {{> stylesheets }}

    </head>
    <body>

        {{> header }}

        <main>
            <section class="section">
                <h1 class="title">View</h1>
                <p class="block">Details of QSO</p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="nowrap">Station Callsign</th>
                            <td><span class="callsign">{{qso.station_callsign}}</span></td>
                        </tr>
                        <tr>
                            <th class="nowrap">Callsign</th>
                            <td><a href="/qsos?callsign={{qso.callsign}}&remarks=&station_callsign=%25&since=1900-01-01T00%3A00%3A00Z"><span class="callsign">{{qso.callsign}}</span></a></td>
                        </tr>
                        {{#if qso.contacted_op}}
                        <tr>
                            <th class="nowrap">Contacted Operator</th>
                            <td><a href="/qsos?callsign={{qso.contacted_op}}&remarks=&station_callsign=%25&since=1900-01-01T00%3A00%3A00Z"><span class="callsign">{{qso.contacted_op}}</span></a></td>
                        </tr>
                        {{/if}}
                        <tr>
                            <th class="nowrap">Time On</th>
                            <td>{{qso.dateon}} {{qso.timeon}} UTC</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Time Off</th>
                            <td>{{qso.dateoff}} {{qso.timeoff}} UTC</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Frequency / Band</th>
                            <td>{{qso.frequency}} MHz / {{qso.band}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">Mode</th>
                            <td>{{qso.mode}}</td>
                        </tr>
                        {{#if qso.power}}
                        <tr>
                            <th class="nowrap">Power</th>
                            <td>{{qso.power}} Watts</td>
                        </tr>
                        {{/if}}
                        {{#if qso.contest}}
                        <tr>
                            <th class="nowrap">Contest / Sent / Rcvd</th>
                            <td>{{qso.contest}} / {{qso.stx}} / {{qso.srx}}</td>
                        </tr>
                        {{/if}}
                        <tr>
                            <th class="nowrap">RST (Sent / Rcvd)</th>
                            <td>{{qso.rst_sent}} / {{qso.rst_rcvd}}</td>
                        </tr>
                        {{#if qso.skcc}}
                        <tr>
                            <th class="nowrap">SKCC</th>
                            <td>{{qso.skcc}}</td>
                        </tr>
                        {{/if}}
                        {{#if qso.spc}}
                        <tr>
                            <th class="nowrap">QTH</th>
                            <td>{{qso.spc}}</td>
                        </tr>
                        {{/if}}
                        <tr>
                            <th class="nowrap">POTA / My POTA</th>
                            <td>{{qso.pota}} / {{qso.my_pota}}</td>
                        </tr>
                        <tr>
                            <th class="nowrap">SOTA / My SOTA</th>
                            <td>{{qso.sota}} / {{qso.my_sota}}</td>
                        </tr>
                        {{#if qso.name}}
                        <tr>
                            <th class="nowrap">Name</th>
                            <td>{{qso.name}}</td>
                        </tr>
                        {{/if}}
                        {{#if qso.remarks}}
                        <tr>
                            <th class="nowrap">Remarks</th>
                            <td>{{qso.remarks}}</td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
                <div class="flex">
                    <form method="get" action="/qsos/{{qso.qso_id}}">
                        <input type="hidden" name="dl" value="1" />
                        <input type="hidden" name="fmt" value="adi" />
                        {{> export }}
                    </form>
                    <span>&nbsp;</span>
                    <form method="get" action="/qsos/{{qso.qso_id}}">
                        <input type="hidden" name="form" value="edit" />
                        {{> edit }}
                    </form>
                    <span>&nbsp;</span>
                    <form method="post" action="/qsos/{{qso.qso_id}}?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this record?')">
                        {{> delete }}
                    </form>
                </div>
            </section>
        </main>

        {{> footer }}

        {{> scripts }}

    </body>
</html>
